<!DOCTYPE html>
<html>

<head>
    <%- include('head-inc'); %>
    
</head>

<body>
    <ul class="nav nav-tabs">
        <li role="presentation"><a href="/">Home</a></li>
        <li role="presentation"><a href="/gallery">Gallery</a></li>
        <li role="presentation" class="active"><a href="/video">Video</a></li>
    </ul>
    <div class="container">
        <h2>TImelapse Gallery</h2>

        <div class="row">
            <% for(var i=0; i < videoUrls.length; i++) { %>
                <div class="col-md-4">
                    <div class="thumbnail">
                            <video controls> 
                                <source src="<%=videoUrls[i]%>" type="video/mp4" alt="Lights" style="width:100%">
                            </video>
                    </div>
                </div>
            <% } %>
        </div>
    </div>
</body>

</html>
